In [28]:
import pandas as pd

# Specify the correct path to the CSV file
# Example of a relative path (make sure to adjust it according to your directory structure)
df = pd.read_csv("C:/Users/TheCu/OneDrive/covid.csv")

# View the rows
print(df)

      demographic_category                 demographic_value  \
0                Age Group                             18-49
1                Age Group                               65+
2                Age Group                             50-64
3                Age Group                             12-17
4                Age Group                              5-11
...                    ...                               ...
28540       Race/Ethnicity                        Other Race
28541       Race/Ethnicity  American Indian or Alaska Native
28542       Race/Ethnicity                             White
28543       Race/Ethnicity                           Unknown
28544       Race/Ethnicity                             Asian

      administered_date  total_doses  cumulative_total_doses  \
0            2024-09-21         3757                40120572
1            2024-09-21         4001                24388267
2            2024-09-21         3437                22182609
3            2024-09-21          757                 6319652
4            2024-09-21          831                 3798121
...                 ...          ...                     ...
28540        2020-01-05            0                       0
28541        2020-01-05            0                       0
28542        2020-01-05            0                       0
28543        2020-01-05            0                       0
28544        2020-01-05            0                       0

       partially_vaccinated  total_partially_vaccinated  fully_vaccinated  \
0                        67                     1886450                 0
1                        34                      544599                 0
2                        35                      597371                 0
3                         8                      239139                 0
4                        11                      235905                 0
...                     ...                         ...               ...
28540                     0                           0                 0
28541                     0                           0                 0
28542                     0                           0                 0
28543                     0                           0                 0
28544                     0                           0                 0

       cumulative_fully_vaccinated  at_least_one_dose  \
0                         13439452                 67
1                          5886846                 34
2                          6172361                 35
3                          2141575                  8
4                          1303314                 11
...                            ...                ...
28540                            0                  0
28541                            0                  0
28542                            0                  0
28543                            0                  0
28544                            0                  0

       cumulative_at_least_one_dose  up_to_date_count  \
0                          15326305              3108
1                           6431445              2947
2                           6769732              2781
3                           2381674               660
4                           1539453               829
...                             ...               ...
28540                             0                 0
28541                             0                 0
28542                             0                 0
28543                             0                 0
28544                             0                 0

       cumulative_up_to_date_count
0                          1246541
1                          1700991
2                           981899
3                           174425
4                           217155
...                            ...
28540                            0
28541                            0
28542                            0
28543                            0
28544                            0

[28545 rows x 13 columns]

In [49]:
df_data=pd.read_csv('C:/Users/TheCu/OneDrive/covid.csv')

print(df_data.columns.values)

['demographic_category' 'demographic_value' 'administered_date'
 'total_doses' 'cumulative_total_doses' 'partially_vaccinated'
 'total_partially_vaccinated' 'fully_vaccinated'
 'cumulative_fully_vaccinated' 'at_least_one_dose'
 'cumulative_at_least_one_dose' 'up_to_date_count'
 'cumulative_up_to_date_count']

In [72]:
df.head(11)

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,up_to_date_count,cumulative_up_to_date_count
0,Age Group,18-49,2024-09-21,3757,40120572,67,1886450,0,13439452,67,15326305,3108,1246541
1,Age Group,65+,2024-09-21,4001,24388267,34,544599,0,5886846,34,6431445,2947,1700991
2,Age Group,50-64,2024-09-21,3437,22182609,35,597371,0,6172361,35,6769732,2781,981899
3,Age Group,12-17,2024-09-21,757,6319652,8,239139,0,2141575,8,2381674,660,174425
4,Age Group,5-11,2024-09-21,831,3798121,11,235905,0,1303314,11,1539453,829,217155
5,Age Group,Under 5,2024-09-21,433,948350,50,183428,0,178823,50,362490,301,91754
6,Age Group,Unknown Agegroup,2024-09-21,0,3584,0,2315,0,402,0,2967,0,2
7,Gender,Female,2024-09-21,7129,51668390,115,1794770,0,15138691,115,16934421,5772,2389577
8,Gender,Male,2024-09-21,6087,46016628,90,1873992,0,13958243,90,15833336,4854,2022688
9,Race/Ethnicity,White,2024-09-21,4906,34264286,40,851445,0,9504616,40,10356503,3798,1764957
10,Race/Ethnicity,Latino,2024-09-21,1689,26562978,32,1240619,0,8998504,32,10239821,1330,755692

In [74]:
df.tail(11)

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,up_to_date_count,cumulative_up_to_date_count
28534,Age Group,50-64,2020-01-05,0,0,0,0,0,0,0,0,0,0
28535,Gender,Male,2020-01-05,1,1,1,1,0,0,1,1,0,0
28536,Race/Ethnicity,Latino,2020-01-05,1,1,1,1,0,0,1,1,0,0
28537,Race/Ethnicity,Multiracial,2020-01-05,0,0,0,0,0,0,0,0,0,0
28538,Race/Ethnicity,Black or African American,2020-01-05,0,0,0,0,0,0,0,0,0,0
28539,Race/Ethnicity,Native Hawaiian or Other Pacific Islander,2020-01-05,0,0,0,0,0,0,0,0,0,0
28540,Race/Ethnicity,Other Race,2020-01-05,0,0,0,0,0,0,0,0,0,0
28541,Race/Ethnicity,American Indian or Alaska Native,2020-01-05,0,0,0,0,0,0,0,0,0,0
28542,Race/Ethnicity,White,2020-01-05,0,0,0,0,0,0,0,0,0,0
28543,Race/Ethnicity,Unknown,2020-01-05,0,0,0,0,0,0,0,0,0,0
28544,Race/Ethnicity,Asian,2020-01-05,0,0,0,0,0,0,0,0,0,0

In [76]:
df.sample(11)

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,up_to_date_count,cumulative_up_to_date_count
14482,Age Group,Unknown Agegroup,2022-08-12,1,3491,1,2241,0,402,1,2893,0,0
21733,Age Group,65+,2021-07-26,4658,9918229,2874,394401,1866,5361446,3205,5755847,0,12
1353,Age Group,65+,2024-07-10,4089,23764386,86,537118,3,5886823,86,6423941,2750,1248389
28364,Race/Ethnicity,Native Hawaiian or Other Pacific Islander,2020-08-05,0,0,0,0,0,0,0,0,0,0
18535,Race/Ethnicity,Unknown,2022-01-11,7907,2255435,2685,222458,1596,932691,2818,1155374,0,95
11687,Age Group,50-64,2023-01-06,10507,20116899,554,524755,71,6168297,558,6693052,0,153
7670,Age Group,Unknown Agegroup,2023-08-08,0,3559,0,2295,0,402,0,2947,0,0
11,Race/Ethnicity,Asian,2024-09-21,4108,16585825,66,486489,0,4611384,66,5098112,3428,837009
12729,Age Group,18-49,2022-11-12,15272,36604720,1225,1558020,159,13404085,1236,14962515,1,398
24850,Age Group,12-17,2021-02-12,269,6047,86,1466,34,556,86,2027,0,1
10116,Age Group,50-64,2023-03-30,1713,20343645,128,537415,42,6171203,129,6708618,0,167

In [78]:
series_one = pd.Series(df['cumulative_at_least_one_dose']) 
print(series_one) 
print(type(series_one))

0        15326305
1         6431445
2         6769732
3         2381674
4         1539453
           ...
28540           0
28541           0
28542           0
28543           0
28544           0
Name: cumulative_at_least_one_dose, Length: 28545, dtype: int64
<class 'pandas.core.series.Series'>

In [80]:
df_data=pd.read_csv('C:/Users/TheCu/OneDrive/covid.csv')

print(df_data.columns.values)

['demographic_category' 'demographic_value' 'administered_date'
 'total_doses' 'cumulative_total_doses' 'partially_vaccinated'
 'total_partially_vaccinated' 'fully_vaccinated'
 'cumulative_fully_vaccinated' 'at_least_one_dose'
 'cumulative_at_least_one_dose' 'up_to_date_count'
 'cumulative_up_to_date_count']

In [87]:
duplicates_subset = df.duplicated(subset=['demographic_category', 'fully_vaccinated'])

print(duplicates_subset)

0        False
1         True
2         True
3         True
4         True
         ...
28540     True
28541     True
28542     True
28543     True
28544     True
Length: 28545, dtype: bool

In [95]:
num_duplicates_subset = duplicates_subset.sum()

print(num_duplicates_subset)

21179

In [97]:
print(f"\nNumber of duplicate rows based on 'demographic_category' and 'fully_vaccinated': {num_duplicates_subset}")

Number of duplicate rows based on 'demographic_category' and 'fully_vaccinated': 21179

In [123]:
df.drop_duplicates(subset=['fully_vaccinated', 'demographic_category'], keep='last')

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,up_to_date_count,cumulative_up_to_date_count
9085,Gender,Female,2023-05-24,6980,47077688,634,1568681,57,15132364,634,16701971,2,908
9310,Gender,Female,2023-05-12,8938,47011612,548,1564169,94,15131780,548,16696876,0,901
9311,Gender,Male,2023-05-12,7727,41976221,736,1645447,79,13951492,736,15598006,1,661
9724,Age Group,Under 5,2023-04-20,536,684522,125,108394,131,169145,125,277769,1,37
9726,Gender,Female,2023-04-20,5254,46855811,432,1555404,99,15130452,434,16686781,1,885
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28105,Gender,Male,2020-08-19,22,217,20,213,2,2,20,215,0,0
28112,Race/Ethnicity,Multiracial,2020-08-19,3,12,2,10,1,1,2,11,0,0
28534,Age Group,50-64,2020-01-05,0,0,0,0,0,0,0,0,0,0
28535,Gender,Male,2020-01-05,1,1,1,1,0,0,1,1,0,0
28544,Race/Ethnicity,Asian,2020-01-05,0,0,0,0,0,0,0,0,0,0

In [125]:
len('C:/Users/TheCu/OneDrive/covid.csv')

33

In [129]:
filtered_df = df[df['demographic_category'] == 'Gender']

print(filtered_df)

      demographic_category         demographic_value administered_date  \
7                   Gender                    Female        2024-09-21
8                   Gender                      Male        2024-09-21
25                  Gender                    Female        2024-09-20
26                  Gender                      Male        2024-09-20
27                  Gender  Unknown/undifferentiated        2024-09-20
...                    ...                       ...               ...
28499               Gender                      Male        2020-07-28
28500               Gender                    Female        2020-07-28
28517               Gender                      Male        2020-07-27
28518               Gender                    Female        2020-07-27
28535               Gender                      Male        2020-01-05

       total_doses  cumulative_total_doses  partially_vaccinated  \
7             7129                51668390                   115
8             6087                46016628                    90
25           41469                51661261                  1028
26           33958                46010541                   817
27              10                   76137                     1
...            ...                     ...                   ...
28499            3                       6                     3
28500            4                       5                     4
28517            2                       3                     2
28518            1                       1                     1
28535            1                       1                     1

       total_partially_vaccinated  fully_vaccinated  \
7                         1794770                 0
8                         1873992                 0
25                        1794655                 1
26                        1873902                 2
27                          20445                 0
...                           ...               ...
28499                           6                 0
28500                           5                 0
28517                           3                 0
28518                           1                 0
28535                           1                 0

       cumulative_fully_vaccinated  at_least_one_dose  \
7                         15138691                115
8                         13958243                 90
25                        15138691               1028
26                        13958243                817
27                           25839                  1
...                            ...                ...
28499                            0                  3
28500                            0                  4
28517                            0                  2
28518                            0                  1
28535                            0                  1

       cumulative_at_least_one_dose  up_to_date_count  \
7                          16934421              5772
8                          15833336              4854
25                         16934306             31691
26                         15833246             25472
27                            46309                 4
...                             ...               ...
28499                             6                 0
28500                             5                 0
28517                             3                 0
28518                             1                 0
28535                             1                 0

       cumulative_up_to_date_count
7                          2389577
8                          2022688
25                         2383805
26                         2017834
27                             502
...                            ...
28499                            0
28500                            0
28517                            0
28518                            0
28535                            0

[4241 rows x 13 columns]

In [135]:
sorted_df_desc = df.sort_values(by='demographic_category', ascending=False)

print(sorted_df)

      demographic_category                          demographic_value  \
0                Age Group                                      18-49
14669            Age Group                                      12-17
14670            Age Group                                       5-11
14671            Age Group                                    Under 5
14672            Age Group                           Unknown Agegroup
...                    ...                                        ...
16124       Race/Ethnicity  Native Hawaiian or Other Pacific Islander
16125       Race/Ethnicity           American Indian or Alaska Native
4625        Race/Ethnicity           American Indian or Alaska Native
15984       Race/Ethnicity                                      White
28544       Race/Ethnicity                                      Asian

      administered_date  total_doses  cumulative_total_doses  \
0            2024-09-21         3757                40120572
14669        2022-08-02         2673                 5609364
14670        2022-08-02         4914                 3075568
14671        2022-08-02         5973                  218174
14672        2022-08-02            0                    3483
...                 ...          ...                     ...
16124        2022-05-18          274                  361274
16125        2022-05-18          225                  273389
4625         2024-01-18           87                  341618
15984        2022-05-25        24605                25904188
28544        2020-01-05            0                       0

       partially_vaccinated  total_partially_vaccinated  fully_vaccinated  \
0                        67                     1886450                 0
14669                   531                      202131               429
14670                  1620                      199060              1360
14671                  2195                      104427              1364
14672                     0                        2235                 0
...                     ...                         ...               ...
16124                    31                       11139                26
16125                    20                       12043                17
4625                      2                       15302                 0
15984                   892                      624327              1042
28544                     0                           0                 0

       cumulative_fully_vaccinated  at_least_one_dose  \
0                         13439452                 67
14669                      2118536                533
14670                      1214852               1620
14671                        21211               2195
14672                          402                  0
...                            ...                ...
16124                       136685                 35
16125                       102929                 22
4625                        105188                  2
15984                      9358471                940
28544                            0                  0

       cumulative_at_least_one_dose  up_to_date_count  \
0                          15326305              3108
14669                       2321511                 2
14670                       1414105                 1
14671                        125775                 0
14672                          2886                 0
...                             ...               ...
16124                        147839                 0
16125                        114981                 0
4625                         120499                38
15984                       9983215                 0
28544                             0                 0

       cumulative_up_to_date_count
0                          1246541
14669                          272
14670                          232
14671                            6
14672                            0
...                            ...
16124                            3
16125                            9
4625                          8074
15984                          163
28544                            0

[28545 rows x 13 columns]

In [137]:
mean_doses = df['total_doses'].mean()
median_doses = df['total_doses'].median()

print(f"Mean total_doses: {mean_doses}")
print(f"Median total_doses: {median_doses}")

Mean total_doses: 10274.425118234367
Median total_doses: 1141.0